@import url(reset.css);
@media(min-width 1300px)
	.container
		width 1270Px
html
	@media(max-width 700Px)
		font-size 16Px

.header
	position fixed
	top 0
	left 0
	right 0
	z-index 10
	height 95px
	transition 0.3s
	@media(max-width 767px)
		height 70px
		box-shadow 5px 0 8px rgba(89,85,78,0.5)
		background #fff
		.col-xs-12
			height 70px
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			justify-content center
			.by
				margin 0
	&:hover
		box-shadow 5px 0 8px rgba(89,85,78,0.5)
		background #fff
	.brand
		position absolute
		width 104px
		height 188px
		left 15Px
		top 0
		background rgba(0,0,0,0.8)
		@media(max-width 767px)
			height auto
		@media(max-width 500px)
			width 80px
		a
		img
			display block
			margin 40px auto 20px
			max-width 71px
			width 80%
			@media(max-width 767px)
				margin 20px auto
		.subtitle
			img
				max-width 75px
				width 80%
	.by
		margin-top 44px
		width 250px
		@media(max-width 767px)
			margin-top 23px
			margin-right 50px
		img
			width 100%
	.menu
		margin-right 10%
		@media(max-width 991px)
			margin-right 5%
		@media(max-width 767px)
			position absolute
			right 0
			top 0
			margin-right 0
			padding 70px 0 20px 
			min-height 200px
			background rgba(0,0,0,0.5)
			transform translateY(-100%)
			transition 0.3s
			&.active
				transform translateY(0)
		a
			position relative
			float left
			padding 49px 5px 10px
			font-size 16px
			color #53524f
			@media(max-width 767px)
				float none
				display block
				margin 0 40px
				padding 10px 0
				color #fff
			&:after
				content ''
				position absolute
				bottom 0
				left 0
				right 0
				border-bottom 1Px solid #c3c1be
				transform rotateY(90deg)
				transition 0.3s
			&:hover
				&:after
					transform rotateY(0)
			&+a
				margin 0 0 0 10px
				@media(max-width 767px)
					margin 0 40px
.main
	.banner
		position relative
		a
		img
			display block
			margin 0 auto
			width 100%
			max-width 1920px
		.swiper-button-prev
		.swiper-button-next
			width 80px
			height 53px
			transition 0.3s
			&:hover
				background-color rgba(72,71,68,0.3)
		.swiper-button-prev
			left 0
			background url(../img/left.svg) right 15px center /auto 80% no-repeat
		.swiper-button-next
			right 0
			background url(../img/right.svg) left 15px center /auto 80% no-repeat
		.arrow-bottom
			position absolute
			bottom 0
			left 50%
			width 98px
			height 98px
			transform translateX(-50%)
			background url(../img/hico68.png) center -36px/98px auto no-repeat;
			z-index 10
			animation move 2s infinite;
			cursor pointer
			@keyframes move
				form
					background-position center -36px
				to 
					background-position center 200%
	.simple
		h3
			font-size 50px
			color #202020
			padding 3% 0
			@media(max-width 700px)
				font-size 40px
			@media(max-width 450px)
				font-size 30px
		p
			font-size 20px
			color #53524f
			line-height 2
			&+p
				padding-top 3%
		.pic
			padding 3% 0 5%
			background url(../img/hico44.png) center bottom no-repeat
			img
				max-width 777px
				margin 0 auto
				display block
				width 100%
	.product-list
		padding 5% 0
		.option
			text-align center
			font-size 0
			padding-bottom 1%
			a
				font-size 30px
				color #92908d
				display inline-block
				margin 0 10px 10px 10px
				transition 0.3s
				&:hover
					color #484744
				&.active
					color #202020
				@media(max-width 767px)
					font-size 26px
		.content
			.wrap
				.row
					position relative
					overflow hidden
					transition 0.8s;
					will-change height
					&>*
						position absolute
						left 0
						top 0
						padding-top 25%
						background  url() center center/100% 100% no-repeat
						transition 0.8s;
						transform translate3d(0,0,0)
						opacity 0
						will-change transform opacity left top
						@media(max-width 991px)
							padding-top 50%
						&:hover
							.layout
								transform scale(1)
								span
									transform scale(1)
						.layout
							position absolute
							top 0
							bottom 0
							left 0
							right 0
							background rgba(32,32,32,0.5)
							display -webkit-flex
							display -moz-flex
							display -ms-flex
							display -o-flex
							display flex
							align-items center
							justify-content center
							transform scale(0)
							transition 0.2s
							span
								display block
								width 88px
								height 88px
								border-radius 50%
								font-size 30px
								color #fff
								text-align center
								line-height 88px
								border 1px solid #fff
								transform scale(0)
								transition 0.2s 0.2s transform
		.show-all
			display block
			line-height 42px
			font-size 20px
			color #201f1d
			text-align center
			width 255px
			border 1px solid #201f1d
			margin 3% auto 0
			transition 0.3s
			@media(max-width 767px)
				margin-top 10%
			&:hover
				border-radius 10px;
				background #201f1d
				color #fff
	.us-info
		.slogan
			margin 0 auto
			padding 5% 0
			font-size 50px
			color #202020
			@media(max-width 700px)
				font-size 30px
		.list
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			justify-content space-between
			li
				width 18%
				cursor pointer
				img
					display block
					width 100%
		.tabs-control
			padding 3% 0 5%
			.wrap
				&:hover
				&.active
					@media(min-width 768px)
						.child-wrap
							opacity 1
							transform translateX(0)
						.pic
							transform translateX(0)
							&:after
								opacity 1
								transform translateX(100%)
			.child-wrap
				@media(min-width 768px)
					transform translateX(-100%)
					opacity 0
					transition 0.3s 0.3s all
			.pic
				position relative
				z-index 1
				@media(min-width 768px)
					transform translateX(75%)
					transition 0.3s
				&:after
					content ''
					position absolute
					right 0
					top 0
					bottom 0
					width 50%
					transform translateX(100%)
					background url(../img/hico62.png) center center/12px auto no-repeat
					@media(min-width 768px)
						transform translateX(0)
						opacity 0
						transition 0.3s 0.3s all
					@media(max-width 767px)
						display none
				img
					display block
					width 100%
					max-width 500px
					margin 0 auto
			.name
				font-family '宋体'
				font-weight bold
				font-size 36px
			.name
			.english-name
				margin 5% 0
				color #201f1d
				@media(max-width 767px)
					margin 3% 0
				span
					&+span
						padding-left 3%
			.english-name
				font-size 16px
			p
				font-size 16px
				color #53524f
				line-height 2
				&.pt3
					padding-top 3%
				&.pt5
					padding-top 5%
		.add
			p
				font-size 20px
				color #53524f
				line-height 2
		.go-to-top
			display block
			width 200px
			margin 3% auto 5%
			text-align center
			font-size 18px
			color #000
			padding-top @width*0.3
			background url(../img/hico67.png) center top/39px auto no-repeat
	.child-page-detalis
		padding 10% 0
		background url(../img/hico44.png) center bottom no-repeat
		@media(max-width 992px)
			padding-top 150px
		h3
			padding 2% 0
			font-size 20px
			color #202020
		p
			font-size 18px
			color #474747
			line-height 2
		.pic
			padding-top 2%
			img
				margin-top 2%
				display block
				width 100%

.footer
	background #1a1a1a
	h3
		font-size 50px
		color #92908d	
		@media(max-width 700px)
			font-size 40px
		@media(max-width 450px)
			font-size 30px
		span
			font-weight bold
			color #ecebe7
	.brand
		a
		i
			display inline-block
		i
			width 0
			height 100%
			vertical-align middle
		a
			vertical-align middle
			margin 0 2%
	.copyright
		padding 2% 0
		line-height 2
		.text-right
		.text-left
		.text-center
			@media(max-width 767px)
				text-align right
		span
			font-size 20px
			color #787774
		.facebook
			padding-left 50px
			font-size 20px
			color #ecebe7
			font-weight bold
			background url(../img/hico66.png) left center/auto 100% no-repeat
		.contact
			font-size 36px
			color #787774
			line-height 1
			font-style normal
			transition 0.3s
			@media(max-width 700px)
				font-size 20px
			&:hover
				color #edebe7



.mobile-menu-toggle
	top 15px
	transform translate(0, 0)
	width 40px
	height 40px
	z-index 10
	cursor pointer
	
	&.active
		span
			background #fff
			&:after
				background #fff
			&:before
				background #fff	
	span
		background #757472
		&:after
			bottom -12px
			background #757472
		&:before
			top -12px
			background #757472
	


.contact-us
	padding-top 4%
	font-size 24px
	color #787774
	line-height 2
	.input
		margin-bottom 10px
		padding 15px
		font-size 14px
		background #292825
		height 44px
		color #fff
		border none
		outline none
		display block
		width 100%
		box-sizing border-box
		resize vertical
	textarea.input
		height auto
	.submit
		width 105px
		height 35px
		font-size 24px
		color #1a1919
		line-height 35px
		text-align center
		background #fbf9f5
		border none
		outline none
